


<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="footer-info">
                    <p class="footer-logo">
                        <img src="{{ 'assets/images/common/logo02.png' |theme }}" alt="">
                        
                        
                    </p>
                    <p class="description">РГП НИИТО <br />
                    Республика Казахстан, г.Астана, 010000<br />
                    Пр. Абылай хана, 15А
                    <p class="phone">Тел.: &nbsp;+7(7172) 54-75-24<br />Факс: +7(7172) 54-77-30</p>
                
                    
                </div>
            </div>
            <div class="col-sm-8">
                <div class="footernav">
                    <nav class="footernav01">
                        <h3>Социальные сети</h3>
                        <ul class="followus">
                            <li><a href="https://www.facebook.com/ResearchInstitutOfTraumatologyAndOrthopedicsAstana"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
                            <li><a href="https://vk.com/kazniito"><i class="fa fa-vk" aria-hidden="true"></i> Вконтакте</a></li>
                            <li><a href="https://www.instagram.com/niitokz/"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
                            <li><a href="https://www.youtube.com/channel/UCHbOrC2u6LRo5HP03W-XLtQ/featured?view_as=subscriber"><i class="fa fa-youtube" aria-hidden="true"></i> YouTube</a></li>
                         </ul>
                    </nav>
                    <nav class="footernav02">
                        <h3>Ссылки</h3>
                        <ul class="ourservices">
                            <li><a href="niito/">О НИИТО</a></li>
                            <li><a href="nauka/">Наука</a></li>
                            <li><a href="klinika/">Клиника</a></li>
                            <li><a href="paczientam/">Пациентам</a></li>
                            <li><a href="zakupki/">Государственные закупки</a></li>
                            <li><a href="korporativnoe-upravlenie">Корпоративное управление</a></li>
                         </ul>
                    </nav>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <p class="copyright">© 2020 Научно-исследовательский институт травматологии и ортопедии</p>
                </div><!-- /.col-md-10 -->
                <div class="col-sm-1">
                   
                </div>

                <div class="col-sm-2">
                    <p class="totop"><a href="#">НА ВЕРХ<img src="assets/images/common/icon-totop.png" alt="back top"></a></p>
                </div>
            </div><!-- /.row -->
        </div>
    </div>
</footer>
    <!-- Javascript -->

