==
<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="left">
                    <!-- <span><strong>Факс: +7 (7172) 54-77-30 </strong></span> -->
                    <span><strong>&nbsp;&nbsp;&nbsp;Телефон доверия: +7 (7172) 54-77-41 </strong></span>

                    <span><strong>&nbsp;&nbsp;&nbsp;информация по стационарным больным: +7 (7172) 54-75-24 </strong></span>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="" style="margin-top:7px;">
                    <span><strong><a href="voprosyi-otvetyi" type="button" class="btn btn-default"><i
                                    class="fa fa-question-circle" aria-hidden="true"></i> Вопросы -
                                ответы</a></strong></span>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="right">
                    <ul class="social">
                        <li><a href="https://www.facebook.com/ResearchInstitutOfTraumatologyAndOrthopedicsAstana "><i
                                    class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                        <li><a href="https://vk.com/kazniito"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/niitokz/"><i class="fa fa-instagram"
                                    aria-hidden="true"></i></a></li>
                        <li><a
                                href="https://www.youtube.com/channel/UCHbOrC2u6LRo5HP03W-XLtQ/featured?view_as=subscriber"><i
                                    class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    </ul>
                    <span style="padding:0px 10px;"><a href="/">RU</a> | <a href="http://old.niito.kz/kz/">KZ</a> | <a
                            href="http://old.niito.kz/en/">EN</a></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p id="logo" class="logo">
                    <a href="https://niito.kz" rel="home">

                        <img src="{{ 'assets/images/common/logo.png'|theme }}">




                    </a>
                </p><!-- /.logo -->
                <div class="info">
                    <div class="address">
                        <p class="icon"><i class="ion-android-call"></i></p>
                        <p class="text">Запись на консультацию:<br><span>+7 (7172) 54-77-41</span></p>
                    </div>
                    <div class="address">
                        <p class="icon"><i class="ion-android-call"></i></p>
                        <p class="text">Call центр:<br><span>+7 (7172) 54-76-01</span></p>
                    </div>

                    <div class="open-hours">
                        <p class="icon"><i class="ion-ios-email"></i></p>
                        <p class="text">E-mail:<br><span><a href="mailto:info@niito.kz">info@niito.kz</a>, <a href="niitokz@med.mail.kz">niitokz@med.mail.kz</a></span></p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .header-top .info .address {
      
    margin-right: 10px;
  
    }
</style>

<!-- Header -->
<header id="header" class="header header-sticky">
    <div class="header-wrap">
        <div class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-menu"></div>
                        <nav id="mainnav" class="mainnav">
                            <ul class="menu">

                                <li class="first active"><a href="/">НИИТО</a>
                                    <ul class="sub-menu">
                                        <li class="first"><a href="http://niito.kz/istoriya-sozdaniya">История создания</a></li>
                                        <li class="first"><a href="http://niito.kz/missiya">Миссия, видение, цель</a></li>
                                        <li class="first"><a href="http://niito.kz/korporativnoe-upravlenie">Корпоративное
                                                управление</a></li>
                                        <li class="first"><a href="http://niito.kz/struktura">Структура</a></li>
                                        <li class="first"><a href="http://niito.kz/rukovodstvo">Руководство</a></li>
                                        <li class="first"><a href="https://niito.kz/niito-mezhdunarodnoe-sotrudnichestvo">Международное сотрудничество</a></li>
                                        <li class="first"><a href="https://niito.kz/konferenciya">Международная конференция памяти академика Н.Д. Батпенова, 28-30 сент. 2020г., Обучающий курс, 28 сент.-2 окт. 2020г.
                                        </a>
                                        </li>
                                        <li class="first"><a href="http://niito.kz/zhurnal-travmatologiya-zhne-ortopediya">Журнал
                                                “Травматология және ортопедия”</a></li>
                                        <li class="first"><a href="http://niito.kz/godovaya-otchetnost">Годовая финансовая
                                                отчетность</a></li>
                                        <li class="first"><a href="http://niito.kz/niito-organizacionno-metodicheskaya-rabota">Организационно - методическая работа</a>
                                        </li>
                                        <li class="first"><a href="http://niito.kz/vakansii">Вакансии</a></li>
                                        <li class="first"><a href="http://niito.kz/kato">КАТО</a></li>
                                    </ul>
                                </li>


                                <li class=""><a href="nauka/">Пациентам и посетителям</a>
                                    <ul class="sub-menu">
                                        <li class="first"><a href="#">Амбулаторные услуги</a></li>
                                        <li class="first"><a href="https://niito.kz/pacientam-i-posetitelyam-stacionarnye-uslugi">Стационарные услуги</a></li>
                                        <li class="first"><a href="https://niito.kz/pacientam-i-posetitelyam-gospitalizaciya-2/">Госпитализация</a></li>
                                        <li class="first"><a href="#">Прейскурант</a></li>
                                        <li class="first"><a href="http://niito.kz/osms">ОСМС</a></li>
                                        <li class="first"><a href="http://niito.kz/blog-direktora">Блог директора</a></li>
                                                                                 
                                        <li class="first"><a href="https://niito.kz/pacientam-i-posetitelyam-sluzhba-podderzhki-pacienta-i-vnutrennego-kontrolya">Служба поддержки пациента и внутреннего
                                                контроля</a></li>
                                        <li class="first"><a href="https://niito.kz/pacientam-i-posetitelyam-indikator-udovletvorennosti-pacienta">Индикатор удовлетворенности пациента</a>
                                        </li>
                                        <li class="first"><a href="http://niito.kz/grafik-priema-fizicheskih-i-yuridicheskih-lic">График приема физических и юридических
                                                лиц</a></li>
                                        <li class="first"><a href="https://niito.kz/mery-protivodejstviya-korrupcii">Меры противодействия коррупции</a></li>
                                    </ul>

                                <li>

                                <li class=""><a href="nauka/">Подразделения клиники</a>
                                    <ul class="sub-menu">
                                        <li class="first"><a href="#">Амбулаторные услуги</a></li>
                                        <li class="first"><a href="#">Стационарные услуги</a></li>
                                        <li class="first"><a href="http://niito.kz/gospitalizaciya">Госпитализация</a></li>
                                        <li class="first"><a href="#/">Прейскурант</a></li>
                                        <li class="first"><a href="#">ОСМС</a></li>
                                        <li class="first"><a href="http://niito.kz/blog-direktora">Блог директора</a></li>
                                        <li class="first"><a href="#">Служба поддержки пациента и внутреннего
                                                контроля</a></li>
                                        <li class="first"><a href="#">Индикатор удовлетворенности пациента</a>
                                        </li>
                                        <li class="first"><a href="http://niito.kz/grafik-priema-fizicheskih-i-yuridicheskih-lic">График приема физических и юридических
                                                лиц</a></li>
                                        <li class="first"><a href="#">Меры противодействия коррупции</a></li>
                                    </ul>

                                <li>

                             
                                
                                   <li class=""><a href="nauka/">Наука и образование</a>
                                    <ul class="sub-menu">
                                        <li class="first"><a href="https://niito.kz/nauka">Наука</a></li>
                                        <li class="first"><a href="https://niito.kz/obrazovanie">Образование</a></li>
                                          <li class="first"><a href="https://niito.kz/biblioteka">Библиотека</a></li>
                                       
                                    </ul>

                                <li>


                                <li class=""><a href="zakupki/">Гос. закупки</a>
                                    <ul class="sub-menu">
                                        <li class="first"><a href="#">Нормативные документы</a></li>
                                        <li class="first"><a href="#">Годовой план закупо</a></li>
                                        <li class="first"><a href="#">Открытый конкурс (аукцион)</a></li>
                                        <li class="first"><a href="https://niito.kz/tender">Тендер</a></li>
                                        <li class="first"><a href="http://niito.kz/zapros-cenovyh-predlozhenij">Закупки способом запроса ценовых
                                                предложений</a></li>
                                    </ul>

                                </li>

                                <li class=""><a href="http://niito.kz/novosti/">Новости</a>
                                </li>





                                <li class=""><a href="http://niito.kz/kontakty/">Контакты</a></li>




                            </ul><!-- /.menu -->
                        </nav>
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.header-wrap -->
</header><!-- /.header -->