title = "Конференция"
url = "/konferenciya"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Alex\Activision\Models\Activision"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}





<section class="breadcrumb-wrap">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>


                </h1>
                <ul class="breadcrumb">

                    <ul class="breadcrumb">
                        <li><a href="novosti/">Конференция</a></li>
                        <li class="active">



                        </li>
                    </ul>




                </ul>
            </div>
        </div>
    </div>
</section>




<section class="page-contact02">
    <div class="container">
        <div class="row">
            <main class="main-content">
                <div class="content">
                
    {% for record in records %}
    
    {{ record.text | raw }}
     
    {% endfor %}

                </div>
            </main>
        </div>
    </div>


<style>
    .marketing-wrap{
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
        
    }


  
</style>


<div class="container">
    <div class="row">
        <section style="margin-bottom: 50px;" class="breadcrumb-wrap marketing-bg">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
      
                        <div class="marketing-wrap">
<form style="width: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;" action="    {% for record in records %}{{ record.link }} {% endfor %}">
                            <h1>Оставьте заявку</h1>

                            <button class="btn  btn-primary">Оставить заявк1у</button>
                            </form>

                        </div>
            
        
        
        
        
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        
    </div>
</div>


</section>