title = "Корпоративное управление"
url = "/korporativnoe-upravlenie"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Alex\Corp\Models\Corp"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}


{% if records.lastPage > 1 %}
    <ul class="pagination">
        {% if records.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..records.lastPage %}
            <li class="{{ records.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if records.lastPage > records.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}


<section class="breadcrumb-wrap">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Корпоративное управление</h1>
					<ul class="breadcrumb">
					   
					   <ul class="breadcrumb"><li><a href="klinika/">Корпоративное управление</a></li>
<li><a href="otdelenie-travmatologii-1">Корпоративное управление</a></li>
</ul>
					    
					    
						

					</ul>
				</div>
			</div>
		</div>
	</section>
	
	
	
	<section class="page-wrap page-service">
		<div class="container">
			<div class="row">
				<main class="main-content col-lg-12">
					<div class="content">
						<article>
						    <div class="clearfix">


							
					    {% for record in records %}
					    
					    	 	
					    {{ record.text | raw }}
					    
				
				
				
				<ul class="icon-list">						
{% for links in record.links %}
								<li>
								<a href="{{ links.link }}">{{ links.link_title }}</a>
								</li>
									
							{% endfor %}
				</ul>
					    
				
					    
					  
					  
					    {% endfor %}
					    
					    


						</div></article>
					</div>
				</main>
				
			
			</div>
		</div>
	</section>