title = "Меры противодействия коррупции"
url = "/mery-protivodejstviya-korrupcii"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Alex\Meri\Models\Meri"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}



<section class="breadcrumb-wrap">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Меры противодействия коррупции</h1>
					<ul class="breadcrumb">
					   
					   <ul class="breadcrumb">
<li><a href="mery-protivodejstviya-korrupcii">Меры противодействия коррупции</a></li>
</ul>
					    
					    
						

					</ul>
				</div>
			</div>
		</div>
	</section>
	
	
	
	<section class="page-wrap page-service">
		<div class="container">
			<div class="row">
				<main class="main-content col-lg-12">
					<div class="content">
						<article>
						    <div class="clearfix">


							
					    {% for record in records %}
					    
					    	 	
					    {{ record.text | raw }}
					    
				
				
				
				<ul class="icon-list">						
{% for links in record.links %}
								<li>
								<a href="{{ links.link }}">{{ links.link_title }}</a>
								</li>
									
							{% endfor %}
				</ul>
					    
				
					    
					  
					  
					    {% endfor %}
					    
					    


						</div></article>
					</div>
				</main>
				
			
			</div>
		</div>
	</section>