title = "Журнал “Травматология және ортопедия"
url = "/zhurnal-travmatologiya-zhne-ortopediya"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Alex\Jurnal\Models\Jurnal"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}


<section class="breadcrumb-wrap">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Архив номеров</h1>
					<ul class="breadcrumb">
					   
					   <ul class="breadcrumb"><li><a href="nauka/">Наука</a></li>
<li><a href="zhurnal-travmatologiya-i-ortopediya/">Журнал "Травматология и ортопедия"</a></li>
<li class="active">Архив номеров</li></ul>
					    
					    
						

					</ul>
				</div>
			</div>
		</div>
	</section>
	
	<section class="page-contact02">
		<div class="container">
			<div class="row">
				<main class="main-content">
					<div class="content">
					    
					    <h2 style="color: #2e5797;">Архив номеров</h2>

<hr>

<ul class="icon-list">
	<li><a href="http://old.niito.kz/assets/files/82/1_2_(43_44)_2018.pdf" target="_blank">Травматология және ортопедия № 1-2 (43-44)/2018  <i style="font-size:17px;" class="ion-document"></i>
	                </a>
                </li>
</ul>

				 
<ul class="icon-list">
    {% for record in records %}
        <li>
            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}
            

                 <a href="{{ record.link }}">  {{ record.title }}</a>

                {% if detailsPage %}
                    </a>
                {% endif %}
            {% endspaceless %}
        </li>
    {% else %}
        <li class="no-data">{{ noRecordsMessage }}</li>
    {% endfor %}
</ul>

{% if records.lastPage > 1 %}
    <ul class="pagination">
        {% if records.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..records.lastPage %}
            <li class="{{ records.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if records.lastPage > records.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}



				</div></div></main>
			</div>
		</div>
	</section>